{% if ansible_os_family|lower == 'debian' %}
ENABLE_MONGOD="yes"
DAEMONUSER={{ mongodb_user }}
DAEMONGROUP={{ mongodb_group }}
CONF={{ mongodb_conf_file }}
DAEMON_OPTS=${DAEMON_OPTS:-"--config $CONF"}
{% endif %}
